/* Icons */
@import "../components/icons.css";
[class*='-{'],
[class*='-}']{
    display:none;
}

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    background-color:#000;
    padding:0;
    margin:0;
    overflow:hidden;
}
pre{
    color:white;
}
[header-page]{
    width:100%;
    height:80px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:0 2rem;
    position:fixed;
    top:0;
    left:0;
    z-index:20;
    box-sizing: border-box;
}
[header-page] .logo{
    height:64px;
    display:block;
}
[header-page] .logo img{
    height:100%;
}
[footer-page]{
    width:100%;
    height:32px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:0 2rem;
    position:fixed;
    bottom:0;
    left:0;
    z-index:20;
    box-sizing: border-box;
}
[footer-page] address,
[footer-page] span{
    font-style: normal;
    font-size: 10px;
    color: rgba(255,255,255,0.5);
}
[footer-page] a{
    color: rgba(255,255,255,0.5);
}
[footer-page] address{
    text-align:center;
    flex:1;
}
[footer-page] span{
    display:block;
    position: absolute;
    top:50%;
    right:2rem;
    transform:translateY(-50%);
}
[wrap-card-page]{
    width:100%;
    height:100vh;
    position:relative;
}
[bg-card-page]{
    width:100%;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index: 10;
}
[bg-card-page]:after{
    content:'';
    width:60%;
    height:100vh;
    display:block;
    position:absolute;
    top:0;
    right:40%;

    background: -moz-linear-gradient(left,  rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(left,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to right,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
}
[bg-card-page] span{
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
    width:60%;
    height:100vh;
    display:block;
    position:relative;
    top:0;
    left:0px;
    z-index:0;
    opacity:0;
    transform:translateX(-50px);
}
[bg-card-page] span[active="true"]{
    opacity:0.5;
    transform:translateX(0px);
    transition:0.8s all ease-in-out;
}
[loading-bar]{
    background-color:#ea4b12;
    width:35%;
    height:3px;
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index: 100;
    animation-name: loadingStep1;
    animation-duration: 1s;
}
[loading-bar][complete="true"]{
    width:100%;
    opacity:0;
    animation-name: loadingStep2;
    animation-duration: 1.5s;
}
@keyframes loadingStep1 {
    0% {width:0;}
    100% {width:35%;}
}
@keyframes loadingStep2 {
    0% {width:35%;opacity:1;}
    80% {width:100%;opacity:1;}
    100% {opacity:0;}
}

[wrap-content-card]{
    width:90vw;
    height:calc(100vh - 140px);
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    margin:0 auto;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    z-index:15;
}
[card-preview]{
    width:520px;
    display:block;
    position: relative;
}
/* [card-preview] [img-fake],
[card-preview]:before,
[card-preview]:after{
    background-image:url('/images/mtg-card-back.png');
    background-position:center;
    background-size:contain;
    background-repeat: no-repeat;
    content:'';
    width:420px;
    height:0;
    display:block;
    padding-top:117%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, 200%) rotate(0deg);
    border-radius:24px;
    filter:drop-shadow(0px 5px 1px rgba(0,0,0,0.2));
} */
[card-preview][active="true"] .img-card,
[card-preview][active="true"] .flip-box{
    opacity:1;
    transform:translateY(0%);
    transition:0.6s all ease-in-out;
    transition-delay:0.6s;
}
[card-preview] .img-card,
.flip-box{
    background-position:center center;
    background-repeat:no-repeat;
    background-size: contain;
    width:520px;
    height:0;
    display:block;
    padding-top:120%;
    position: relative;
    top:0px;
    left:0px;
    transform:translateY(5%);
    overflow:hidden;
    z-index: 3;
    opacity:0;
}
[card-preview] .img-card img{
    width:73%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:26px;
}

.flip-box {
    background-color: transparent;
    padding-top:102%;
    perspective: 1000px;
    overflow:visible;
}

.flip-box .rotate-btn{
    background-color:#9dff00;
    background-image:url('/images/rotate.svg');
    background-size:50%;
    background-position: center;
    background-repeat: no-repeat;
    width:42px;
    height:42px;
    display:block;
    position: absolute;
    top: 15%;
    right: 22%;
    border-radius:50px;
    z-index:1000;
    filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.1));
    cursor:pointer;
}

.flip-box[fliped="true"] .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-inner {
    text-align: center;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-box-front img,
.flip-box-back img{
    width:72%;
    border-radius:26px;
}

.flip-box-front {
    color: black;
}

.flip-box-back {
    transform: rotateY(180deg);
}

[card-info]{
    flex:1;
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
}
[wrap-infos]{
    padding:2rem;
    border-radius:20px;
    box-sizing: border-box;
}

[header-infos]{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom:15px;
    margin-bottom:20px;
    position: relative;
}
[header-infos]:after{
    background:#ea4b12;
    content:'';
    width:20%;
    height:3px;
    position:absolute;
    bottom:0;
    left:0;
}
[title-card]{
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    letter-spacing:1px;
    font-size: 32px;
    width:70%;
    margin-right: 15px;
}
[mana-cout]{
    flex:1;
}
[mana-cout] .card-symbol{
    width:28px;
    height:28px;
    margin-left:5px;
}

[description-info]{
    padding:10px 0;
}
[description-info] h5{
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    margin-bottom:5px;
}
[description-info] h5 img{
    height:14px;
    margin-left:10px;
    filter: invert(100%);
}
[description-info] h5 img path {
    fill: white;
}
[description-info] article{
    padding:10px 0;
}
[description-info] article p{
    line-height:22px;
    font-size:16px;
    color: #fff;
    margin-bottom:4px;
    opacity:0.8;
}
[artist]{
    position:absolute;
    bottom:20px;
    left:50%;
    transform:translateX(-50%);
}
[artist] span,
[artist] a{
    color:#fff;
    font-size:12px;
    text-decoration: none;
}
[release] span{
    flex:0 0 100%;
    font-size: 14px;
    color: #fff;
}